.button {
  display: inline-block;
  font-size: 12px;
  border: 1px solid grey;
  border-radius: 8%;
  background-color: #ffffff;
  margin-left: 10px;
}

.li {
  font-size: 18px;
  margin-bottom: 10px;
}
